* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  background: #fff;
  line-height: 1.6;
}

ul {
  list-style: none;
}

.base-container {
  width: 100%;
  padding: 0 150px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav .logo {
  margin-top: 20px;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #505051;
  height: 9rem;
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem;
}

.navbar a {
  color: #127cb9;
  padding: 1rem 2rem;
  margin: 0 0.5px;
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: bold;
}

.navbar a:hover {
  background-color: #333333;
  border-radius: 5px;
}

/* main */
.main-container {
  display: flex;
  width: 100%;
  padding: 0 120px;
  margin-bottom: 3rem;
}

.main-content {
  width: 75%;
  margin-right: 20px;
}

.side-content {
  width: 25%;
  background-color: rgb(231, 231, 231);
  border: 1px solid #3b5998;
  padding: 10px;
  margin-top: 3rem;
  height: 645px;
}

.links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.links ul {
  list-style: disc;
  font-size: 2.5rem;
}
.links li {
  margin: 15px 1px;
  margin-left: 1.5rem;
}

.links a {
  text-decoration: none;
  font-size: 2.1rem;
}

.article {
  display: flex;
  border: 2px solid #3b5998;
  background-color: rgb(231, 231, 231);
  margin: 30px 0;
  padding: 30px 0;
}

.article-img img {
  width: auto;
  height: auto;
  padding-right: 10px;
  flex: 1;
}

.article-content {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.article-content p {
  font-size: 1.7rem;
}

.article-content h3 {
  color: #3b5998;
}

.article-content button {
  background-color: white;
  padding: 15px 80px;
  color: black;
  margin-top: 4rem;
  display: block;
  align-self: center;
  font-size: 1.8rem;
  font-weight: bolder;
  border: 1px solid #3b5998;
}

.article-content button:hover {
  background-color: #3e5994;
  color: white;
}

.social {
  margin: 20px 5px;
  padding: 30px 0;
  display: flex;
  justify-content: space-evenly;
}

.social a {
  text-decoration: none;
  font-size: 5rem;
}

.btn {
  display: flex;
  justify-content: center;
}

.btn button {
  background-color: white;
  padding: 15px 80px;
  color: black;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 5px 0px;
}

.btn button:hover {
  background-color: #3e5994;
  color: white;
}

/* footer */
.footer-main-container {
  width: 100%;
  background-color: aqua;
  padding-bottom: 1rem;
}
.content-area {
  padding: 0 120px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.content-area ~ p {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.7rem;
}

.about {
  width: 70%;
}

.about p {
  margin-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}

.footer-links {
  width: 25%;
}

.links a {
  text-decoration: none;
  font-size: 2.1rem;
}
